/*=== CSS Admin Side ===*/
.required{
    color:red;
}
a{
    color: #00417A;
}
a:hover{
    text-decoration: none;
    color: #037FEA;
}
body{
    background-color: #F1F1F1;
    font-size: 12pt;
}
.sidebar{
    top: 50px;
    background-color: #303030;
    color: #F4F4F4;
}
.sidebar a{
    color: #DBDBDB;
}
.sidebar .nav > li > a:hover{
    color: #FFFFFF;
    background-color: #7E7E7E;
}

/*** HEADER ADMIN ***/
.main-menu{
    margin-left: 100px;
}
.main-menu li.active{
    color: #fff;
}
#admin-settings{
    width: 40px;
    height: 50px;
    background: url('../images/settings-admin.png') no-repeat 2px 13px;
    background-size: 22px;
}
.second-level{
    width: 200px;
    position: absolute;
    right: 0;
    background: #303030;
    display: none;
}
.navbar-right > li:hover .second-level{
    display: block;
}
.second-level > li > a{
    color: #9D9D9D;
}
.second-level > li > a:hover{
    color: white;
    background: #999999;
}
.page-header{
    font-size: 20pt;
    border: none;
}
.no-padding{
    padding: 0;
}
/*** NEWS - POST***/
.main{
    color: #4E4E4E;
}
/* News - Sidebar Right */
#news_sidebar{
    position: absolute;
    top: 0px;
    float: right;
    right: -210px;
    z-index: 1;
}
#news_sidebar h2{
    line-height: 35px;
    margin-top: 0px;
    font-size: 14pt;
    font-weight: 400;
}
#news-categories,
#news-status {
    height: 85px;
}
#news-categories select{
    min-width: 180px;
    height: 33px;
}
#news-categories select > option,
#news-status select > option{
    height: 30px;
    padding-top: 5px;
}
#news-status select{
    height: 33px;
}
#feature-pic {
    width: 131px;
}
#feature-picture-frame {
    margin-top: 7px;
    margin-bottom: 5px;
}
#feature-picture-bg,
#feature-picture {
    width: 120px;
    height: 120px;
    background-color: #CECECE;
}
#btn-feature {
    width: 124px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
}
.btn-picture:hover,
#btn-feature:hover >.btn-picture,
#btn-insert:hover >.btn-picture {
    background: #F8F8F8;
    box-shadow: 0px 0px 2px #B9B9B9;
}
label{
    font-weight: 500;
}
/* ***************** */
#post-title{
    width: 755px;
    height: 35px;
    padding-left: 10px;
    font-size: 13pt;
    font-weight: 500;
}
.error{
    position: relative;
    top: 5px;
    color: #C92727;
    font-size: 11pt;
}
/*** NEWS - Permalink in Post + Slug in Category ***/
#permalink{
    min-height: 30px;
    margin-bottom: 15px;
}
#slug{
    min-height: 30px;
}
#slug > span,
#slug > b{
    position: relative;
    top: 3px;
}
#permalink > span,
#permalink > b{
    vertical-align: middle;
}
#edit-permalink,
#edit-slug-category{
    height: 25px;
    position: absolute;
    margin-left: 20px;
    display: none;
}
#field-permalink{
    width: 300px;
    position: absolute;
}
#field-slug{
    margin-top: 10px;
}
#btn-permalink-save{
    width: auto;
    height: 28px;
    position: relative;
    top: -23px;
    left: 400px;
    padding: 0px 7px;
    display: none;
}
#btn-slug-save{
    width: auto;
    height: 28px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 0px 7px;
    display: none;
    font-size: 11pt;
    float: right;
}
#edit-permalink:hover,
#edit-slug-category:hover{
    color: #2A2A2A;
}
.btn{
    min-width: 90px; /*100*/
    height: 35px;
    margin-top: 5px;
}
.mybtn{
    width: auto;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    background: #E0E0E0;
    display: inline-block;
    color: #6C6C6C;
    text-align: center;
}
.mybtn:hover{
    background-color: #E9E9E9;
    border: 1px solid #8C8C8C;
}
.btn-picture {
    background: #FAFAFA;
    border: 1px solid #BCBCBC;
    display: inline-block;
}
#btn-insert {
    width: 110px;
    height: 35px;
    display: inline-block;
}
#news-admin input[type="file"] {
    display: inline-block;
}
#news-admin .nav-tabs > li > a{
    margin-right: 0px;
    margin-left: 0px;
}
#news-admin .nav-tabs {
    margin-top: 15px;
    padding-left: 15px;
}
#news-admin .tab-content{
    height: 100%;
}
#new-post .modal-dialog,
#edit-post .modal-dialog{
    width: 520px;
}
#new-post .modal-body,
#edit-post .modal-body{
    width: 100%;
    min-height: 181px;
}
#new-post .modal-footer,
#edit-post .modal-footer{
    height: 60px;
    padding-top: 12px;
}
#news-admin .browse-wrapper{
    width: 200px;
    height: 100px;
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#news-admin .browse-wrapper > h3{
    font-size: 14pt;
    color: #B5B5B5;
    text-align: center;
}
.tab-pane-top .btn{
    position: absolute;
    top: 50px;
    left: 39px;
}
.fake-browse-btn{
    background: #DDDDDD;
    border: 1px solid #ADADAD;
}
.browse-btn{
    width: 100px;
    height: 35px;
    position: relative;
    top: -35px;
    opacity: 0;
    z-index: 10;
}
#btn-feature > .browse-btn{
    width: 124px;
    height: 35px;
    opacity: 0;
    z-index: 10;
}
#btn-insert > .browse-btn{
    width: 92px;
    height: 35px;
    opacity: 0;
    z-index: 10;
}
.modal-footer{
    padding: 10px;
}
.modal-footer .btn{
    margin-right: 10px;
    float: right;
}
#gallery .row{
	height: 170px;
	margin-left: 0;
	margin-right: 0px;
}
#gallery hr{
	margin: 0px;
}
.news-picture-frame{
	width: 140px;
	height: 140px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
	background: #C4C4C4;
	display: inline-block;
}
.vertical-align{
    width: 140px;
    height: 140px;
    position: absolute;
}
.edit-pictures{
    max-width: 140px;
    max-height: 140px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.delete-picture,
.insert-picture{
    background-color: rgb(255, 255, 255, 1);
    opacity: 0.8;
}
button.delete-picture,
button.insert-picture{
    background: #FFFFFF;
}
.glyphicon-trash,
.glyphicon-circle-arrow-down{
    font-size: 18px;
}
#news-admin .delete-picture{
    position: absolute;
    right: 0px;
}
#news-admin .insert-picture{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#post-btn{
    float: left;
}
#post-btn > .btn-primary{
    margin-right: 15px;
}
/*Image name*/
.news-picture-frame .vertical-align > span{
    position: absolute;
    left: 45px;
    bottom: 2px;
    font-size: 0.9em;
}

/*** NEWS - All Posts ***/
.new-post,
.new-employee,
.btn-simple{
    font-size: 11pt;
    font-weight: 600;
    position: relative;
    top: -3px;
    margin-left: 15px;
    padding: 5px 17px;
    background: #DBDBDB;
    border-radius: 3px;
}
#null-table{
    width: 100%;
    height: 63px;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-top: none;
    text-align: center;
}
.post-status{
    height: 35px;
}
.post-status > .nav{
    position: absolute;
}
.post-status li{
    display: inline-block;
}
.post-status li > a{
    color: black;
    padding:  5px 7px;
}
.post-status li > a:hover{
    background: transparent;
    color: #1387EF;
}
.search{
    float: right;
}
.search input[type=search]{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #DDD;
    box-shadow: inset 0px 0px 1px #DDD;
}
.filter{
    height: 35px;
}
.filter select{
    height: 30px;
    margin-right: 7px;
    border: 1px solid #DDD;
    box-shadow: inset 0px 1px 1px #DDD;
}
.space{
    margin-right: 40px;
}
.table{
    border: 1px solid #DDDDDD;
    margin-top: 5px;
    margin-bottom: 0px;
}
.table > thead > tr > th{
    vertical-align: middle;
    background-color: white;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
#news-admin .table tr:hover{
    background-color: #FFF;
}
.check{
    width: 32px;
}
.number{
    width: 35px;
    text-align: center;
}
#all-post .title{
    width: 360px;
}
#all-post .author{
    width: 135px
}
#all-post .categories{
    width: 150px;
}
#all-post .status{
    width: 120px;
}
.news-title{
    font-size: 12pt;
}
.news-action{
    font-size: 10pt;
    margin-top: 3px;
}
.news-action > .news-delete{
    color: #920000;
}
.news-action > .news-delete:hover{
    color: #F10000;
    cursor: pointer;
}
#all-post .modal-dialog{
    top: 150px;
}
/* Resize image in commonmark */
#news-content-preview img{
    max-width: 665px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
/*** NEWS - Category ***/
#categories > .search{
    margin-bottom: 20px;  
}
#categories-content{
    width: 100%;
    float: left;
}
#category-subtitle,
#client-subtitle{
    font-size: 14pt;
    font-weight: 500;
    margin-top: 10px;
}
.category-news{
    max-width: 300px;
    margin-top: 30px;
}
.category-news input[type="text"]{
    width: 300px;
}
.category-news .text-muted{
    margin: 3px 0px 5px;
}
.category-name{
    width: 200px;
}
#categories-content .check{
    width: 35px;
}
#categories-content .number{
    width: 45px;
}
#categories-content td.number{
    text-align: right;
    padding-top: 9px;
    padding-right: 19px;
}
.category-slug{
    width: 200px;
}
.category-last-modified{
    text-align: center;
}

/*** NEWS - Delete Category ***/
em{
    font-weight: 600;
}
.attention{
     width: auto;
     height: 45px;
     border: 1px solid #FF8802;
     background: #FFE2C1;
     margin-bottom: 15px;
     padding: 10px 20px;
     border-radius: 7px;
     font-size: 1.1em;
     color: #C20F0F;
}
/*#categories-content .modal-content,
#all-post .modal-content{
    width: 380px;
    height: 150px;
}*/
button.close{
    width: 30px;
    height: 30px;
    font-size: 20pt;
}
#categories .modal-dialog{
    top: 180px;
}
#delete-confirm{
    position: absolute;
    top: 15px;
    left: 37px;
    font-size: 12pt;
}
#delete-all-confirm{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 12pt;
}
/*.yes-delete, .no-delete
{
    width: 70px;
    margin-right: 20px;
    position: relative;
    top: 100px;
    float: right;
}*/
select{
    min-width: 130px;
}
#news-content {
    width: 755px;
    height: 440px;
}
#news-content > .nav-tabs,
#vacancy-detail .nav-tabs {
    margin-top: 0px;
    margin-right: 5px;
    border-bottom: none;
    float: right;
}
#news-content > .nav-tabs .active a,
#vacancy-detail .nav-tabs .active a{
    background-color: #E9E9E9;
}
#news-content > .nav-tabs li a,
#vacancy-detail .nav-tabs li a{
    height: 35px;
    padding-top: 7px;
    border: 1px solid #C3C3C3;
    border-bottom: none;
}
#news-content #preview-tab {
    border-left: none;
}
#news-content > .tab-content {
    height: auto;
    float: left;
}
#news-content textarea,
#vacancy-detail textarea {
    border: 1px solid #C3C3C3;
    width: 750px;
}
#news-content-preview {
    width: 750px;
    height: 405px;
    overflow: scroll;
    background: #F8F8F8;
    border: 1px solid #C3C3C3;
    padding-left: 1px;
}
#vacancy-detail #vacancy-detail-preview {
    width: 750px;
    height: 405px;
    overflow: scroll;
    border: 1px solid #C3C3C3;
}
#vacancy-detail #vacancy-detail-preview{
    width: 100%;
}




















































































































































































































































































































































































































































































































































/* Login Page*/



/* Admin Works */
.work label{
    min-width: 70px;
}
.list {
    text-align: center;
    cursor: pointer;
    border: 1px solid gray;
    height: 100px;
    width: 100px;
}

#selected_files, 
#show_files,
#logos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#selected_files li,  
#show_files li{
    float: left;
    margin: 5px;
    padding: 2px;
    line-height: 100px;
    width: 100px;
    height: 100px;
}
#logos li{
    float: left;
    margin: 5px;
    padding: 2px;
    line-height: 100px;
    width: 130px;
    height: 50px;
}

#selected_files.reorder li{
    width: 280px;
    height: 210px;
}

#reorder-files{
    width: 84%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#reorder-files button{
    margin-right: 15px;
}
#reorder-files li.draft img{
    opacity: 0.1;
}

.highlight {
    border: 2px solid red;
    background-color: lightblue;
    width: 100px;
    height: 100px;
}

#selected_files img,
#show_files img,
#logos img{
    max-height: 95%;
    max-width: 95%;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.work .btn-file,
.user .btn-file,
#slider .btn-file{
    position: relative;
    overflow: hidden;
}
.work .btn-file input[type=file],
.user .btn-file input[type=file],
#slider .btn-file input[type=file]  {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*Work Index*/
.dashboard .table tr[data-href],
.work .table tr[data-href],
.user .table tr[data-href]{
    cursor: pointer;
}
.dashboard .table .image,
.work .table .image{
    width: 150px;
}
.dashboard .table .project,
.work .table .project{
    width: 300px;
}
.work .table .client{
    width: 280px;
}
.dashboard .table p,
.work .table p{
    margin-bottom: 0px;
}
.dashboard .table small,
.work .table small{
    color: #b2aca9;
}
.dashboard .table .image img,
.work .table .image img{
    max-height:100px;
    max-width:100px;
}
.dashboard .table tr:hover,
.work .table tr:hover{
    background-color: white;
}
#delete-confirmation .modal-content,
#delete-all-confirmation .modal-content{
    min-height: 179px; /*190*/
    width: 450px;
    margin: auto;
}
.work .modal-content{
    margin-left: auto;
}

.work .work-form label{
    font-size: 18px;
}
.work .work-form .btn-primary{
    width: 120px;
}
.work .work-form textarea{
    resize: none;
}
.status_filter{
    display: inline-block;
}
.status_filter:hover{
    cursor: pointer;
}
.status_filter a{
    color: black;
}
.status_filter a:hover{
    color: black;
}
.status_filter.active .badge,
.post-status li.active .badge{
    background-color: #000000;
}
.status_filter.active,
.post-status li.active{
    font-weight: bold;
}
.status_filter.active{
    cursor: auto;
}
.work .action .btn-primary{
    margin-right: 5px;
}



.viewer{
    margin: -20px -40px;
    height: 550px;
    margin-bottom: -50px;
}
.view-work{
    background-color:#363636;
    color: #959595;
    height: 600px;
}
.view-work .row{
    margin-right: 0px;
}
.view-work-slider{
    height: 550px;
    background-color: #777777;
    margin: 20px 0px;
}

#view-work-title{
    margin: 30px auto;
}
.view-work hr{
    margin: 0 0 10px 0;
    border: 1px solid #464646;
    border-bottom: 1px;
}
#view-work-description{
    height: 300px;
    padding-right: 20px;
}
#slider-inner img{
    max-height: 95%;
    max-width: 95%;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    
}
#slider-inner{
    height:550px;
    background-color:#464646;
}
#slider-inner img{
    transform: translate(-50%, -50%);
}
#slider-inner .item{
    width: 100%;
    height: 100%;
}
#work-pictures .image-tools,
#slider .image-tools{
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
}
.image-tools .tools{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
button.tools{
    border: none;
    background-color: white;
}
.image-tools .tools span{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-tools .tools.tools-left{
    left: 0px;
}
.image-tools .tools.tools-right{
    right: 0px;
}
#selected_files .delete-picture,
#selected_files .tools{
    opacity: 0.0;
}
#selected_files li:hover > .image-tools > .delete-picture,
#selected_files li:hover > .image-tools > .tools{
    opacity: 0.3;
}
#selected_files .image-tools .delete-picture.close:hover,
#selected_files .image-tools .tools.tools-left:hover,
#selected_files .image-tools .tools.tools-right:hover{
    opacity: 0.8;
}
.processing,
.fail{
    position:absolute;
    width:95px;
    height:95px;
    background-color:rgba(0,0,0,0.5);
    z-index:5;
}
.loading,
.fail span{
    position:relative;
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.fail span{
    color: red;
}
.image-container{
    width: 100%;
    height: 100%;
}
.form-inline{
    padding-bottom: 6px;
}
#new-client .form-inline{
    padding-bottom: 10px;
    padding-top: 10px;
}
#new-client .form-inline label{
    margin-bottom: 10px;
}
#new-client .form-inline input{
    width: 65%;
}


/*DASHBOARD*/
.dashboard .count-container{
    height:100px;
    margin-right:20px;
}
.dashboard .count-container.all{
    background-color:#337AB7;
}
.dashboard .count-container.published{
    background-color:#5CB85C;
}
.dashboard .count-container.draft{
    background-color:#D9534F;
}

.dashboard .count-container .count-number{
    display:block;
    font-size:36pt;
    color:white;
}

.dashboard .count-container .count-desc{
    display:block;
    width:100%;
    text-align:right;
    color: white;
}
.dashboard a .count-container{
    color: black;
}
.dashboard a:hover{
    color: black;
}

.dashboard .table{
    margin-bottom: 0px;
}
.dashboard .news .recent-post{
    margin-right: 15px;
}
.dashboard .table .client{
    width: 170px;
}

#messages .table .name{
    width: 300px;
}
#messages .table .name b{
    display: block;
}
#messages .table .message{
}
#messages .table .received{
    width: 150px;
}
#messages .table tr:not(.no-record){
    cursor: pointer;
}

#messages .control{
    width: 50px;
    font-size: 32pt;
}
#messages .control a span{
    color: #444444;
}
#messages .control a:hover > span{
    color: black;
}
#messages .control span.disable{
    color: #adadad;
}

#messages #message{
    padding-left:50px;
    padding-right:50px;
    width:800px;
    background: white;
}
#messages #message hr{
    border-color: #777;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
}
#messages #message #sender .head{
    width:100px;
}
#messages #message .delete{
    padding-bottom: 25px;
}

.bg-danger{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.bg-success{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #3dce00;
    border-radius: 10px;
    color: #3dce00;
    float: none;
}


/* USER AND EMPLOYEE */
.user .employees h1{
    padding-bottom:10px;
}
.user .employees .container-picture{
    width:150px;
    height:150px;
    display:inline-block;
    border:1px solid black;
    vertical-align:middle;
}
.user .employees #processing{
    position:absolute;
    width:150px;
    height:150px;
    background-color:rgba(0,0,0,0.5);
    z-index:5;
}
.user .employees .loading{
    position:relative;
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.user .employees .profile-picture{
    display:block;
    position:relative;
    max-width:95%;
    max-height:95%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
.user .employees form .container-picture{
    display: block;
}
.user .employees .btn-file{
    width: 150px;
}
.user .employees #description{
    min-height: 100px;
}
.user .employees .employee-detail{
    font-size:20px;
}
.user .employees .row-detail{
    padding-bottom:10px;
}
.user .employees .employee-action{
    margin-top:20px;
}
.user .employees .employee-action .col-sm-4{
    text-align: right;
}


/* SLIDER */
#slider .btn{
    height: 34px;
    margin-top: 0px;
}
#slider li.list{
    border: solid 2px black;
}
#slider .processing{
    width: 92px;
    height: 92px;
}
#slider_desc h3{
    margin: 0px;
}
#slider_desc .position-title{
    margin: 5px;
    float: left;
}
#slider_desc .position{
    margin: 5px;
    width: 25px;
    height: 25px;
    float: left;
}
#slider_desc .position.left,
#slider_desc .position.center,
#slider_desc .position.right{
    background-image: url('/assets/images/position.png');
}
#slider_desc .position.center{
    background-position: 50px 0;
}
#slider_desc .position.right{
    background-position: 25px 0;
}
#slider_desc .position.active{
    background-position-y: 25px;
}
#slider_desc .position:hover{
    cursor: pointer;
}
#preview_slider{
    font-family: 'Raleway', sans-serif;
}
#preview_slider .modal-lg{
    width: 100%;
}
#preview_slider .bg-slider,
#preview_slider .bg-slider2{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#preview_slider .text-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    font-size: 11pt;
}
#preview_slider .container{
    width: 80%;
    height: 100%;
}
#preview_slider .container .row{
    height: 100%;
    float: none;
}
#preview_slider .vertical-center{
    display: table;
    height: 100%;
}
#preview_slider .text-content,
#preview_slider .subimage-content{
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
}
#preview_slider .subimage-content{
    width: 70%;
}
#preview_slider .subimage-content img{
    width: inherit;
}
#preview_slider .text-content .box{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}
#preview_slider .text-content .box h2{
    padding: 10px;
}
#preview_slider .text-content .box p{
    padding: 10px;
}

#preview_slider button.btn.btn-danger {
    background-color: #d42c0e;
    font-size: 1.05em;
    border-radius: 0px;
    font-weight: 700;
}

#preview_slider button.btn.btn-danger:hover{
    background-color: #f43f1f;
    border: none;
    border-bottom: 4px solid #c01e01;
}
#preview_slider h1{
    font-size: 32pt;
}
#preview_slider h2{
    font-size: 16pt;
    font-weight: 200;
}
#preview_slider .button-danger-place{
    padding-top: 30px;
}
#preview_slider .item{
    height: 100%;
}
.button-danger-place button{
    width: 160px;
    height: 45px;
}
.text-content .button-danger-place button:hover{
    width: 160px;
    height: 49px;
}

/* CLIENT */
.container-logo{
    width:250px; height:85px;border:1px solid black;
}
.logo-preview{
    display: block;position: relative;max-width: 95%;max-height: 95%;top: 50%;left: 50%;transform: translate(-50%, -50%);
}