/** CSS Override **/
body{
	font-family: 'Raleway', sans-serif;
	font-size: 10pt;
	color: #838383; /*959595*/
}
a:hover{
	text-decoration: none;
}
a:focus{
	outline: none;
	text-decoration: none;
}
.glyphicon{
	top: 0.15em;
	font-size: 0.85em;
}
.container{
	width: 1000px;
}
.sprite{
	background: url('../images/icons/sprite.png');
}
h1{
	margin-top: 27px;
	font-weight: 200;
	font-size: 24pt;
}
h2{
	font-weight: 800;
	font-size: 27pt;
	margin-top: 0px;
}
h3{
	font-size: 26pt;
	color: #515151;
	margin-bottom: 20px;
	font-weight: 500;
}
h4{
	font-weight: 500;
	font-size: 19pt;
}
button.btn.btn-danger {
	background-color: #d42c0e;
	font-size: 1.05em;
	border-radius: 0px;
	font-weight: 700;
}

button.btn.btn-danger:hover{
	background-color: #f43f1f;
	border: none;
	border-bottom: 4px solid #c01e01;
}
.purchase-now .btn.btn-danger:hover,
.products-item-download .btn.btn-danger:hover{
	width: 160px;
	height: 49px;
}
.navbar{
	width: 100%;
	background: white;
	padding-top: 10px;
	border-bottom: none;
}
.navbar-nav{
	float: right;
}
.index{
	position: absolute;
}
.navbar > .container .navbar-brand{
	margin-left: 0px;
}
.navbar-brand{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-brand img{
	height: 50px;
}
.nav{
	padding-top: 5px;
	font-weight: 500;
}
.navbar-default
.navbar-nav > li > a{
	font-size: 10pt;
	color: #a7a7a7;
}
@media screen and (min-width: 981px){
	#navbar{
		display: block;
		visibility: visible;
	}
}
#navbar a:hover, #navbar li .active{
	color: #d52e11;
}

/* SLIDER */
#slider h1{
	font-size: 32pt;
}
#slider h2{
	font-size: 16pt;
	font-weight: 200;
}
#slider .button-danger-place{
	padding-top: 30px;
}
#slider .item{
	height: 100%;
}
.row.slider{
	margin:0px;
}
.carousel-control{
	top: 50%;
	bottom: 50%;
	width: 10%;
	height: 10%;
	opacity: 0.15;
	visibility: hidden;
}
#slider:hover .carousel-control,
#view-work-slider:hover .carousel-control{
	visibility: visible;
}
.carousel-control.left{
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,0) 100%);
}
.carousel-inner .bg-slider{
	background-position: center top;
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
}
.carousel-inner .item .container .row{
	float: none;
}
.carousel-inner .item .container{
	width: 80%;
}
.carousel-inner .bg-slider2{
	max-width:100%;
	max-height:100%;
}
.carousel-inner .text-slider{
	width: 100%;
	height:100%;
	position: absolute;
	top:0px;
	font-size: 11pt;
}
.text-slider h3{
	font-size: 22pt;
	color: #FFF;
}
.vertical-center{
	display: table;
	height: 100%;
}
.carousel-inner .bg-slider  .container, .carousel-inner .bg-slider  .container .row{
	height: 100%;
}
.text-content,
.subimage-content{
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	text-align: center;
}
.subimage-content{
	width: 80%;
}
.subimage-content img{
	width: inherit;
}
.button-danger-place{
	height: 70px;
}
.button-danger-place button{
	width: 160px;
	height: 45px;
}
.text-content .button-danger-place button:hover{
	width: 160px;
	height: 49px;
}
.carousel-indicators li{
	background-color: #ffffff;
}
.carousel-indicators .active{
	background-color: transparent;
}

#slider .text-content .box{
	border-radius: 10px;
	background-color: rgba(0,0,0,0.4);
}
#slider .text-content .box h2{
	padding: 10px;
}
#slider .text-content .box p{
	padding: 10px;
}
.text-content .btn .btn-danger,
.welcome .btn-danger{
	font-size: 14pt;
	font-weight: 800;
}

.welcome, .our-team, .how-we-work, .some-partner{
	padding-top: 30px;
}
.what-we-do, .who-we-are{
	padding-top: 20px;
}
.welcome, .what-we-do, .our-team, .how-we-work, .some-partner{
	padding-bottom: 30px;
}
.who-we-are{
	padding-bottom: 40px;
}
.welcome{
	text-align: justify;
}
.welcome p{
	margin-bottom: 13px;
}
.welcome img{
	position: absolute;
	z-index: -1;
}
/* Tombol Learn More */
.welcome .button-danger-place button{
	width: 150px;
	height: 45px;
}
.welcome .button-danger-place button:hover{
	width: 150px;
	height: 49px;
}
.icon-place{
    height: 54px;
}
.what-we-do{
	background-image: url('/assets/images/index/what-we-do/back-whatwedo.jpg');
	background-size: 100%, 100%;
	background-position: center center;
	background-size: auto 100%;
	background-color: #FAFAFA;
}
.what-we-do h4{
	font-weight: 500;
	font-size: 12pt;
}
.subtitle-h3{
	font-size: 11pt;
	margin-bottom: 30px;
}
.what-we-do .row a > p{
	font-size: 8pt;
	min-height: 50px;
}
.index-sprite{
	background: url('../images/index/icons/index-sprite.png');
}
.what-we-do .title{
	height: 100px;
}
.what-we-do .icon{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.what-we-do .web .icon{
	width: 41px;
	height: 41px;
	background-position: 0px 0px;
}
.what-we-do .marketing .icon{
	width: 38px;
	height: 45px;
	background-position: 0px -43px;
}
.what-we-do .development .icon{
	width: 45px;
	height: 48px;
	background-position: 0px -92px;
}
.what-we-do .collaboration .icon{
	width: 66px;
	height: 49px;
	background-position: 0px -140px;
}
.what-we-do a:hover .title, .what-we-do a:hover .read-more{
	color: #d42c0e;
}
.what-we-do .web a:hover .icon{
	background-position: -40px 0px;
}
.what-we-do .marketing a:hover .icon{
	background-position: -40px -43px;
}
.what-we-do .development a:hover .icon{
	background-position: -45px -92px;
}
.what-we-do .collaboration a:hover .icon{
	background-position: -66px -140px;
}
.what-we-do, .what-we-do a{
	text-align: center;
	color: #838383;
    background-repeat: no-repeat;
}
.what-we-do .btn .btn-link{
	font-weight:500;
	font-size:13pt;
}
.what-we-do .row .col-sm-3{
	padding-left: 8px;
	padding-right: 8px;
}

.some-work{
	padding-top: 25px;
}
.some-work p.text-center{
	font-size: 12pt;
}
.some-work .col-md-4{
	height:250px;
	background-color: #777777;
	border: 1px solid #ffffff;
	padding: 0px;
}

.some-work .col-md-4:hover{
	background-color: #d42c0e;
	z-index: 10;
}
.tool-place{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.tool-place img{
    position: absolute;
    top: 40%;
    
}
.tool-place .lupa{
    left:45%;
}
.caption-place{
	display: block;
	opacity: 1;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom:0px;
	left:0px;
	background: #252525;
}
.caption-arrow{
	display: block;
	width: 0px;
	height: 0px;
	position: relative;
	top: -11px;
	left: 15px;
	border-bottom: 12px solid #252525;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
}
.caption{
	position: absolute;
	top: 5px;
	left: 15px;
}
.caption h5{
	color:#f7c016;
	margin-bottom: 3px;
}
.some-work .col-md-4:hover > .caption-place .caption h5{
	color: #ffffff;
}
.some-work .col-md-4:hover > .tool-place{
	visibility: visible;
}
.some-work .img-wrap{
	width:100%;
	height:100%;
}
.some-work .img-wrap img{
	width: 100%;
	height: 100%;
	left:50%;
	position:relative;
	display:block;
	transform:translate(-50%, 0);
}
.some-work .col-md-4:hover > .img-wrap img{
	opacity:0.8;
}
.some-work .col-md-4:hover > .img-wrap{
	/*background-color:#000000;*/
}
.some-work .see-all{
	font-weight:700;
	font-size:12pt;
	padding-top: 15px;
	padding-bottom: 5px;
	margin:0px;
}
.some-client{
	background-color: #FaFaFa;
	padding-top: 25px;
	padding-bottom:50px;
}
.some-client .text-center .row{
	min-height: 110px;
	margin-right: 0px;
	margin-left: 0px;
}
.some-client img{
	border: 1px solid #ececec;
}


/** FOOTER **/
footer a:hover{
	color: #f7c016;
}
.footer-line{
	margin: 0;
	height: 3px;
	background: #d42c0e;
}
.footer-top{
	padding-top:50px;
	padding-bottom:50px;
}
.footer-top .col-md-3{
	width: 24.3%;
}
.footer-top .col-md-10{
	padding-right:0px;
}
.footer-top, .footer-top a{
	background-color: #252525;
	color: #B2B2B2;
}
.footer-top h4{
	margin-top: 25px;
}
.footer-top-head{
	margin-bottom: 20px;
}
.footer-top hr{
	margin-top: 0px;
	margin-bottom: 5px;
	border-top: 1px solid #363636;
	width: 90%;
}
.footer-top b{
	color: #f7c016;
}
.footer-top-content .col-md-10 p{
	margin-bottom:5px;
	line-height:25px;
	font-size: 13px;
}
.footer-top-content .col-md-3 .row{
	position: relative;
	top:-3px;
}
.footer-top-content .col-md-3 .row .glyphicon{
	top:0px;
}
.contact-us{
	width:245px;
	position: relative;
	top:-8px;
}
.contact-us tr{
	height:36px;
	border-bottom: 1px solid #363636;
}
.contact-us-icon{
	width: 20px;
	color:#f7c016;
}
.contact-us-attribute{
	width:50px;
	text-align: right;
	color:#f7c016;
}
.contact-us-content{
	padding-left: 5px;
}
.footer-top-content .col-md-2{
	margin-top: 5px;
}
.footer-bottom{
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #d42c0e;
	color: #ffffff;
}
.footer-bottom a{
	line-height: 25px;
	color: #f7c016;
}
.footer-bottom  p{
	margin: 0px;
}
.footer-bottom-left,
.footer-bottom-right{
    height: 25px;
	display: inline;
}
.footer-bottom-left{
	float: left;
}
.footer-bottom-right{
	float: right;
}
.facebook-icon{
	width: 17px;
    height: 17px;
    background-position: 0 -18px;
}
.facebook-icon:hover{
    background-position: -18px -18px;
}
.twitter-icon{
	width: 18px;
    height: 18px;
    background-position: 0 -37px;
}
.twitter-icon:hover{
    background-position: -18px -37px;
}
.google-icon{
	width: 18px;
    height: 18px;
    background-position: 0px 0px;
}
.google-icon:hover{
    background-position: -18px 0px;
}
.fence{
	border-left: 1px solid white;
	margin-left: 6px;
	padding-left: 6px;
}

/**** Page Title ****/
.title-page{
	width: 100%;
	height: 95px;
	background: #d52e11;
	padding: 0;
	color: white;
}
.title-page h1{
	font-weight: 200;
	font-size: 24pt;
}
/**** NEWS ****/
.news{
	min-height: 750px;
}
.news-title{
	margin-bottom: 55px;
}
.news-sprite{
	background: url('../images/news/news-sprite.png');
}
.news .col-md-9{
	padding-left: 0px;
	padding-right: 0px;
}
.news .col-md-3{
	padding-right: 0px;
}
.news h2{
	margin-top: 0px;
}
.news h2{
	font-weight: 500;
	font-size: 13pt;
}
.news h2 a{
	color: #464646;
}
.news h2 a:hover{
	color: #d52e11;
}
.news-attribute{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0 7px 0;
	margin-bottom: 10px;
}
.news-attribute a,
.yellow {
	color: #f7c016;
}
.read-more a{
	color: #959595;
}
.read-more a:hover,
.news-attribute a:hover{
	color: #d52e11;
}
/*image of news*/
.news .media-object{
	width: 100%;
	height: 240px;
}
.news-tooltip span{
	position: absolute;
	top: 0;
	left: 30px;
	line-height: 33px;
	color: white;
}
.news-tooltip-arrow{
	width: 130px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 5px;
    background-position: -24px 0px;
	z-index: 20px;
}
@media screen and (min-width: 1000px){
	.media:hover .image-hover{
		width: 349px;
		height: 240px;
		background-color: #D42C0E;
		background-image: url('../images/news/plus.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: absolute;
		top: 0px;
		opacity: 0.35;
	}
	.media:hover .news-tooltip-arrow{
	    background-position: -24px -35px;
	}
}
/*pagination*/
#pagination{
	height: 120px;
}
.pagination{
	position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
	font-size: 1.1em;
	font-weight: 500;
	text-align: center;
}
#pagination li > a,
#pagination li > span {
	width: 33px;
	margin-left: 4px;
	background-color: #fafafa;
	border: 1px solid #ebebeb;
	border-radius: 0;
	padding: 7px 7px;
	line-height: 25px;
	color: #959595;
}
#pagination li > a:hover{
	background-color: white;
	border: 1px solid #d52e11;
	color: #d52e11;
}
#pagination .active > span{
	background-color: #d52e11;
	color: white;
	border-style: hidden;
}
/* Previous glyphicon */
#pagination li:first-child span{
	padding-right: 7px;
	margin-left: -7px;
}
/* Next glyphicon */
#pagination li:last-child span{
	padding-left: 7px;
	margin-right: -7px;
}
#pagination li:first-child > a,
#pagination li:first-child.disabled > span{
	width: 110px;
	margin-left: 0px;
	margin-right: 20px;
}
#pagination li:last-child > a,
#pagination li:last-child.disabled > span{
	width: 110px;
	margin-left: 24px;
	margin-right: 0px;
}

/* Detail News */
.news-detail h2{
	color: #000000;
	font-size: 18pt;
}
.news-header{
	margin-bottom: 20px;
}
#media-object-full {
    width: 100%;
    height: 370px;
}
.news-detail #news-content img{
	max-width: 665px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.news-attribute .attribute-fence{
	margin-left: 12px;
	padding-left: 14px;
	border-left: 1px solid #ebebeb;
}

/*search box*/
#search-box{
	width: 228px;
	height: 35px;
	border: 1px solid #ebebeb;
}
.bs-docs-sidebar input[type=search]{
	width: 200px;
	background-color: transparent;
	border: none;
	padding: 7px 10px 5px 15px;
	font-size: 11pt;
}
.bs-docs-sidebar input[type=submit]{
    width: 17px;
    height: 17px;
	background-color: transparent;
	background-position: 0px 0px;
	border: none;
}
.sidebar-module h2{
	margin-top: 40px;
	margin-bottom: 0px;
	font-size: 13pt;
	color: black;
}
.bs-docs-sidenav{
	margin-bottom: 40px;
	padding-left: 0;
}
.bs-docs-sidenav  li{
	border-bottom: 1px solid #ebebeb;
}
.bs-docs-sidenav li:last-child{
	border-bottom: none;
}
.bs-docs-sidenav  .arrow-round{
	width: 11px;
	height: 13px;
	background-position: 0px -19px;
	display: inline-block;
	position: relative;
	left: -13px;
    top: 2px;
}
.bs-docs-sidenav  li:hover .arrow-round{
	background-position: -12px -19px;
}
.bs-docs-sidenav  li a{
	padding: 8px 0px 5px 14px;
	color: #959595;
}
.bs-docs-sidenav  li.active{
	color: #d42c0e;
	background: transparent;
}
.bs-docs-sidenav  li.active .arrow-round{
	background-position: -12px -19px;
}
.bs-docs-sidenav  li a:hover{
	color: #d42c0e;
	background: transparent;
}
/*menu tab*/
#sidebar-tab{
	padding:0px;
}
#sidebar-tab li{
	width: 50%;
	background: #fafafa;
	border-top: 1px solid #ebebeb;
	font-size: 14px;
}
#sidebar-tab li a{
	width: 100%;
	border-radius: 0;
	color: black;
	text-align: center;
}
#sidebar-tab .active > a{
	border-top: 2px solid #d42c0e;
	color: #d42c0e;	
}
#popular-tab{
	border-left: 0;
}
#recent-tab{
	border-right: 0;
}
#sidebar-tab .active{
	position: relative;
	top: -2px;
}
#menu-tab{
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.news .tab-content{
	padding-left: 10px;
	padding-right: 10px;
}
.news .tab-pane .row{
	margin: 0px;
	padding-top: 12px;
	border-bottom: 1px solid #ebebeb;
}
.news .tab-pane .row:last-child{
	border-bottom: none;
}
/*date*/
.date{
	margin-top: 3px;
}

/*** PRODUCTS ***/
#menu-products{
	width: 100%;
	padding-top: 55px;
}
/* Product and Services menu */
.products .nav-justified,
#services .nav-justified{
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
.products .nav-justified{
	width : 600px;
}
#services .nav-justified{
	width : 700px;
}
.products .nav-justified li a,
#services .nav-justified li a{
	height: 45px;
	border: 1px solid #d1d1d1;
	color: #8c8c8c;
	line-height: 45px;
	padding: 0px;
}
#services #right-menu,
.products #right-menu{
	position: relative;
	left: -1px;
}
#services #left-menu{
	position: relative;
	left: 2px;
}

#services #center-left-menu,
.products #left-menu{
	position: relative;
	left: 1px;
}

.products .arrow,
#services .arrow{
	width: 8px;
	height: 5px;
	display: none;
	margin-top: -2px;
	margin-right: auto;
	margin-left: auto;
	border-right: 7px solid transparent ;
	border-left: 7px solid transparent ;
	border-top: 8px solid #C01E01;
}
.products .nav > li > a:hover,
#services .nav > li > a:hover{
	height:47px;
	background-color: transparent;
	border: 1px solid #c01e01;
	border-bottom: 3px solid #c01e01;
	color: #c01e01;
	z-index: 10;
}
.products li.active > a,
#services li.active > a{
	height:47px;
	background: #d42c0e;
	border: 1px solid #c01e01;
	border-bottom: 3px solid #c01e01;
	color: white;
	z-index: 2;
}
.products .nav > li > a:hover ~ .arrow,
.products li.active > a ~ .arrow,
#services .nav > li > a:hover ~ .arrow,
#services li.active > a ~ .arrow{
	display: block;
}
.products .tab-content,
#services .tab-content{
	padding:0;
}
.products-background{
	background: #fafafa;
}
.products-item{
	height: 750px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.products .image-products{
	width: 660px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.products .video-products{
    width: 599px;
    height: 339px;
    position: absolute;
    top: 86px;
    left: 31px;
    z-index: 2;
}
.products .video-products > #video-default,
.products .video-products > #img-default{
    min-width: 599px;
    max-width: 599px;
    height: 100%;
    max-height: 339px;
}
/* Avaya dan Pawons */
#avaya .image-products img,
#pawons .image-products img{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.products-item-description{
	width: 800px;
	text-align: center;
}
.products-item-description h2{
	font-weight: 400;
	font-size: 24pt;
	margin-top: 10px;
	color: #555555;
}
.products-item-description > p{
	font-size: 12pt;
	margin-bottom: 0px;
	padding: 0 30px;
}
.products-item-details .row{
	height: 445px;
	padding-top: 50px;
}
.products .more-padding{
	padding-top: 5px;
	padding-bottom: 5px;
}
.products .features h2{
	margin-top: 30px;
	font-size: 16pt;
	font-weight: 500;
	color: #464646;
}
.products .features .nav{
	padding: 0px;
}
/* List Product dan Careers */
.products .features  li,
#careers .nav  li{
	padding: 7px 0px 7px 37px;
	background: url('../images/icons/arrow_round_red.svg') no-repeat -13px -33px;
	background-size: 95px;
}
.products .video-features{
	margin-top: 30px;
}

/* About Us Page*/

.who-we-are .col-md-6{
	text-align: left;
}
.who-we-are h3{
	margin-top: 7px;
}
.who-we-are h4{
	margin-top: 0px;
}
.who-we-are .row img{
	width: 470px;
	height: 312px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.our-team h3{
	margin-top: 10px;
}
.our-team .row-centered {
    text-align:center;
    margin-right: 5px;
    margin-left: 5px;
}
.our-team .col-md-3.col-centered{
	width: 23%;
}
.our-team .primary-detail{
	height: 205px;
}
.our-team .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    margin-bottom: 20px;
    vertical-align: top;
}
.our-team .col-centered p{
	height: 105px;
	overflow: hidden;
}
.our-team #team{
	position: relative;
	overflow:hidden;
}
.our-team #team:hover #item-team{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.our-team #team:hover .indicator{
	-moz-box-shadow:    0px 0px 10px 0px #000000;
   -webkit-box-shadow: 0px 0px 10px 0px #000000;
   box-shadow:         0px 0px 10px 0px #000000;
}

.our-team .indicator{
	position:absolute;
	height:100%;
	padding:0px;
	font-size:xx-large;
	z-index:10;
}
.our-team .indicator.left{
	left:0%;
}
.our-team .indicator.right{
	right:0%;
}
.our-team .indicator.disable{
	color: #D0D0D0;
	display: none;
}
.our-team .indicator.enable:hover{
	color: black;
	cursor: pointer;
}
.our-team .img-wrap{
	width: 100%;
	height: 150px;
	border: 1px solid #ececec;
}
.our-team .img-wrap img{
	max-width: 100%;
	max-height: 100%;
	position: relative;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.our-team h4{
	font-weight: 500;
	font-size: 13pt;
	color: #898989;
	margin-top: 15px;
	margin-bottom: 0px;
}
.our-team small{
	color: #d7d7d7;
}
.our-team .row p{
	padding-top: 15px;
}
.some-partner .row{
	text-align: center;
}
.some-partner .right{
	float: right;
}
.some-partner .left{
	float: left;
}
.some-partner img{
	width: 304px;
	height: auto;
}
.some-partner a img:hover{
	box-shadow: 0 0 5px 0px #969696;
}
.how-we-work p.text-center{
	font-size: 11pt;
	padding-right: 170px;
	padding-left: 170px;
	margin-bottom: 45px;
}
.about-us .how-we-work .graph > .row{
	height: 0%;
	opacity: 0;
}
.about-us .how-we-work .graph h4{
	font-size: 20px;
	color: #464646;
}
.about-us .how-we-work .start-node,
.about-us .how-we-work #achieve-target{
	width: 80px;
	height: 80px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 40px;
	border: 4px solid #C5C5C5;
	margin: auto;
	font-size: 18px;
}
.about-us .how-we-work .node-inner{
	position: relative;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.about-us .how-we-work .row .col-sm-6{
	height: 100%;
}
/* odd: work 2,4,6 */
.about-us .how-we-work .row .col-sm-6:nth-child(odd){
	border-right: 1px solid #C5C5C5;
}
/* even: work 1,3,5,7 */
.about-us .how-we-work .row .col-sm-6:nth-child(even){
	border-left: 1px solid #C5C5C5;
}
.about-us .how-we-work .graph .row:nth-child(even) .picture-area{
	padding-right: 60px;
	padding-left: 0px;
}
.about-us .how-we-work .graph .row .picture-frame{
	height:100%;
	position: relative;
}
.about-us .how-we-work .graph .row:nth-child(odd) .picture-frame{
	width: 0%;
}
.about-us .how-we-work .graph .row .picture{
	width: 450px;
	height: 358px;
	position: relative;
	opacity: 0;
	top: 24%;
}
.about-us .how-we-work .graph .row .picture-cover{
	width: 450px;
	height:100%;
	position: absolute;
	top: 0;
	background-color: #FAFAFA;
}
.about-us .how-we-work .graph .row:nth-child(odd) .text-area{
	padding-left:0px;
}
.about-us .how-we-work .graph .row:nth-child(even) .text-area{
	padding-right:0px;
}
.about-us .how-we-work .graph .row .text-area .text-area-graph{
	height:100%;
}
.about-us .how-we-work .graph .row:nth-child(odd) .text-area .text-area-graph{
	padding-left:15px;
}
.about-us .how-we-work .graph .row:nth-child(even) .text-area .text-area-graph{
	padding-right:15px;
}
.about-us .how-we-work .text-area .graph-container{
	padding:0px;
	height:100%
}
.about-us .how-we-work .text-area-graph .hr-area,
.about-us .how-we-work .text-area-graph .node-area{
	display:table;
	height:100%;
	padding:0px;
}
.about-us .how-we-work .row:nth-child(even) .text-area-graph .node-area{
	padding-left: 2px;
}
.about-us .how-we-work .text-area-graph .hr-container,
.about-us .how-we-work .text-area-graph .node-container{
	display:table-cell;
	vertical-align:middle;
	width:100%;
}

@media screen and (min-width: 755px){
	.how-we-work{
		height: 4330px;
	}
	/* Special Ani-6 */
	.about-us #ani-6 .col-sm-6{
		height: 345px;
	}
	.about-us #ani-6 .picture-frame{
		height: 150%;
	}
	.about-us #ani-6 .hr-container,
	.about-us #ani-6 .node-container,
	.about-us #ani-6 .content{
		vertical-align: bottom;
	}
	.about-us #ani-6 .node-container{
		position: relative;
		top: 12px;
	}
	.about-us #ani-6 .content{
		position: relative;
		top: 85px;
	}
}

.about-us .how-we-work .row:nth-child(odd) .text-area-graph .hr-container{
	position: relative;
	left: 100%;
}
.about-us .how-we-work .text-area-graph .hr-container hr{
	width: 0%;
	border: 1px solid #C5C5C5;
	margin: 0px;
}
.about-us .how-we-work .row:nth-child(even) .text-area-graph .hr-container hr,
.about-us .how-we-work .text-area-graph .node-container{
	opacity: 0;
}
.about-us .how-we-work .text-area-graph .node-container .node{
	width:27px;
	height:27px;
	padding: 4px;
	border-radius:25px;
	background-color:#C5C5C5;
	color:#fff;
	text-align: center;
}
.about-us .how-we-work .graph .row:nth-child(odd) .text-area-graph .node-container .node{
	float: right;
}
.about-us .how-we-work .text-area-content{
	height:100%;
	display:table;
	opacity:0;
}
.about-us .how-we-work .graph .row .text-area-content .content{
	display:table-cell;
	vertical-align:middle;
	font-size:14px;
}
.about-us .how-we-work .graph .row:nth-child(odd) .text-area-content .content{
	text-align: right;
}
.about-us .how-we-work .graph .row:nth-child(even) .text-area-content .content{
	text-align: left;
}
.about-us .how-we-work #achieve-target{
	margin-top: -160px;
	opacity: 0;
}
.about-us .how-we-work #achieve-target h4{
	color: #7d7d7d;
	margin-top: 40px;
}

/*** SERVICES ***/
.services-title{
	margin-bottom: 40px;
}
#services .tab-content{
	height: 300px;
	margin-top: 40px;
	margin-bottom: 90px;
}
#services .tab-content .row{
	margin: 0px;
}
#services .tab-content h4{
	margin-top: 0px;
}
.services-image img{
	min-height: 256px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#exellent-business,
#exellent-business .col-xs-6{
	height: 650px;
}
#center{
	width: 100%;
	margin-top: 40px;
	position: absolute;
	z-index: 1;
}
#center h2{
	width: 250px;
	font-size: 20pt;
	font-weight: 600;
	color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#center #hp{
	width: 260px;
	margin-right: auto;
	margin-left: auto;
}
#exellent-business .left{
	background-color: #a73939;
}
#exellent-business .right{
	background-color: #cf533d;
}
#exellent-business .col-md-9,
#exellent-business .col-sm-10{
	height: 100%;
	display: table;
}
#exellent-business .middle-content{
	display: table-cell;
	vertical-align: middle;
}
#exellent-business .row{
	margin-top: 15px;
	font-size: 8pt;
	text-align: right;
	color: white;
}
#exellent-business .right .row{
	text-align: left;
}
#exellent-business .left .col-sm-7{
	padding-left: 5px;
}
#exellent-business .left .col-sm-2 img{
	float: right;
}
#exellent-business .row h5{
	margin-top: 0px;
	margin-bottom: 5px;
}
#exellent-business .row img{
	margin-top: 5px;
}
#ideas{
	height: 190px;
	margin-top: 30px;
}
#ideas h3{
	font-size: 20pt;
	color: #464646;
}
#ideas .col-sm-8{
	padding-left: 0px;
}
#order-btn{
	position: relative;
	top: 5px;
	padding: 10px 20px;
	background-color: #d63013;
	font-size: 1.1em;
	font-weight: 700;
	color: white;
	float: right;
}
#order-btn:hover{
	background-color: #F43F1F;
	border-bottom: 4px solid #b12108;
}

/*** CAREERS ***/
#careers{
	margin-bottom: 80px;
}
#careers .title-page{
	margin-bottom: 20px;
}
#careers h2{
	margin-bottom: 10px;
	padding: 0;
	font-size: 16pt;
	font-weight: 500;
	color: #464646;
}
#looking-for .nav a{
	color: #838383;
}
#looking-for .nav a:hover,
#looking-for .active{
	color: #D52E11;
}
#reason{
	width: 550px;
	margin-top: 50px;
	margin-bottom: 40px;
}
#reason .image-wrap{
	margin-bottom: 30px;
}
#reason .image-wrap img{
	width: 100%;
}
#careers h3{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 12pt;
	font-weight: 500;
	color: #464646;
}
#advantage .col-sm-6{
	padding-left: 0;
}
#advantage .row{
	margin-bottom: 30px;
}
#advantage .row .col-sm-8{
	padding: 0;
}
#advantage img{
	height: 80px;
}
/* Subcareers*/
#careers .requirement h3{
    margin-top: 20px;
}
.requirement ul{
	padding-left: 15px;
}
.requirement ul li,
#looking-for ul li{
    margin-top: 5px;
}

/*** CONTACT US ***/
#contact-us .title-page{
	margin-bottom: 0;
}
#contact-content{
	margin-top: 30px;
}
#contact-us h2{
	margin-bottom: 20px;
	padding: 0;
	font-size: 21pt;
	font-weight: 500;
	color: #5C5C5C;
}
#contact-info{
	margin-top: 20px;
}
#contact-us h3{
	margin-top: 15px;
	font-size: 12pt;
	font-weight: 500;
	color: #d63013;
}
#contact-us .bg-success{
	padding: 10px;
}
#contact-us .bg-danger{
	padding: 10px;
}
#contact-us .text-danger{
	margin-bottom: 5px;
}
#contact-content .col-xs-12{
	min-height: 500px;
	margin-bottom: 30px;
}
/*Sosmed*/
.contact-sprite{
	background-image: url('../images/contact-us/contact-sprite.png');
}
#facebook-icon{
	width: 17px;
    height: 18px;
    background-position: 0 0px;
}
#facebook-icon:hover{
    background-position: -18px 0px;
}
#twitter-icon{
	width: 18px;
    height: 18px;
    background-position: 0 -18px;
}
#twitter-icon:hover{
    background-position: -18px -18px;
}
#google-icon{
	width: 18px;
    height: 18px;
    background-position: 0 -37px;
}
#google-icon:hover{
    background-position: -18px -37px;
}
#contact-us .input-message{
	width:  100%;
	height: 35px;
	background-color: white;
	margin-bottom: 6px;
	padding: 5px 17px 5px 17px;
	border-radius: 0;
	border: 1px solid #959595;
}
#contact-us .input-message:focus{
	border-color: #D52E11;
	color: #D52E11;
}
#contact-us #text-area{
	height: 120px;
}
#send-message{
    height: 37px;
	width: 150px;
	margin-top: 20px;
	background-color: #d63013;
	border-radius: 0;
	font-size: 9pt;
	font-weight: 700;
	color: white;
}
#send-message:hover{
	height: 41px;
	border: none;
	background-color: #f43f1f;
    border-bottom: 4px solid #c01e01;
}



































































































































































/*Our Works*/
.row.sub-title, .row.purchase-now{
	background-color: #fbfaf8;
	padding-top: 50px;
	padding-bottom: 50px;
	top: 95px;
}
.sub-title h3{
	font-size: 24pt;
}
.sub-title nav{
	height: 36px;
}
.pager.sub-nav{
	font-size: 1.1em;
	font-weight: 500;
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 0px;margin-bottom: 3px;
}
.pager.sub-nav li a:hover{
	cursor: pointer;
}
.pager.sub-nav li > a{
	background-color: #fafafa;
	width: inherit;
	padding: 3px 20px;
	margin: auto 2px;
	border: 1px solid #d1d1d1;
	border-radius: 0;
	color: #959595;
}
.pager.sub-nav li a.active{
	background-color: #d52e11;
	border: 1px solid #d52e11;
	color: white;
}
.pager.sub-nav li > a:hover{
	background-color: transparent;
	border: 1px solid #d52e11;
	color: #d52e11;
	border-bottom: 3px solid #d52e11;
}
.pager.sub-nav li a:active < ul, .pager.sub-nav li a:focus < ul{
	margin-bottom: 0px;
}
.collection{
	background-color: #fbfaf8;
}
.item-collection{
	height: 250px;
	border: 1px solid #ffffff;
	padding: 0px;
}
.item-collection:hover{
	background-color: #d42c0e;
	cursor: pointer;
}
.item-collection:hover > img{
	opacity: 0.8;
}
.row.see-all{
	background-color: #d42c0e;
}
.see-all{
	font-weight:700;
	font-size:12pt;
	padding-top: 15px;
	padding-bottom: 5px;
	margin:0px;
}
.see-all.hide{
	height:0px;
	padding-top: 0px;
}
.row.see-all p{
	padding:5px 0
}
.row.see-all a{
	color: #ffffff;
}
/* Purchase dan Mondopad */
.purchase-now,
.products-item-download{
	padding-top: 50px;
	padding-bottom: 50px;
}
.purchase-now h4,
.products-item-download h4{
	font-weight: 400;
	margin-bottom: 0px;
	color: #383838;
}
.purchase-now b,
.products-item-download b{
	color: #d42c0e;
}
.purchase-now p,
.products-item-download p{
	font-size: 14pt;
}
.purchase-now a,
.products-item-download a{
	margin-top: 10px;
	float: right;
}
.view-work{
	background-color:#363636;
}
.view-work a{
	color: #f7c016;
}
.view-work-slider{
	height: 430px;
	background-color: #777777;
	margin: 20px 0px;
}
#view-work-title{
	margin: 30px auto;
}
.view-work hr{
	margin: 0 0 10px 0;
	border: 1px solid #464646;
	border-bottom: 1px;
}
/*.row-collection .col-sm-4:focus, .row-collection .col-sm-4:active{
	background-color: #d42c0e;
}*/
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	
	border-bottom: 20px solid #363636;
}
.arrow-up.gallery{
	position: absolute;
	bottom: -5px;
	left: 40%;
}
.fade-in{
	color: #EDEDED;
	-webkit-animation: fade_in 1s;
	-moz-animation: fade_in 1s;
	-o-animation: fade_in 1s;
	animation: fade_in 1s;
}
@-webkit-keyframes fade_in {
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}
@-moz-keyframes fade_in {
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}
@-o-keyframes fade_in {
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}
@keyframes fade_in {
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}
.fade-out{
	-webkit-animation: fade_out .5s;
	-moz-animation: fade_out .5s;
	-o-animation: fade_out .5s;
	animation: fade_out .5s;
}
@-webkit-keyframes fade_out {
	from{
		opacity: 100;
	}
	to{
		opacity: 0;
	}
}
@-moz-keyframes fade_out {
	from{
		opacity: 100;
	}
	to{
		opacity: 0;
	}
}
@-o-keyframes fade_out {
	from{
		opacity: 100;
	}
	to{
		opacity: 0;
	}
}
@keyframes fade_out {
	from{
		opacity: 0;
	}
	to{
		opacity: 100;
	}
}
.row.sub-title, .collection .row{margin-right: 0px;}

.collection .container{padding-right: 0px;}
#view-work .description-work{
	height: 460px;
}
#view-work-description{
	overflow: auto;
}
#view-work .desc-bottom{
	position: absolute;
	display: table;
	bottom: 0px;
	width: 95%
}
#view-work .collapsing {
	-webkit-transition-duration: .5s;
		-o-transition-duration: .5s;
			transition-duration: .5s;
}
.viewer{
	width: 100vw;
	margin-left: calc(-50vw + 49%);
	padding-right: 0px;
	padding-left: 0px;
	min-height: 0px;
}



















































































.loading-container{
	display: none;
	width: 100%;
	z-index: 1;
 }
.loading,
#slider-inner img{
	max-height: 95%;
    max-width: 95%;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    
}
.collection .loading-container{
	margin-bottom: 20px;
	margin-top: 20px;
}
.collection .loading{
	transform: translate(-50%, 0%);
}

#slider-inner{
	height:430px;
	background-color:#464646;
}
#view-work .loading-container{
	height: 100%;
	position: absolute;
	padding-right: 30px;
	padding-bottom: 40px;
}
#view-work .loading{
	transform: translate(-50%, -50%);
}
#slider-inner img{
    transform: translate(-50%, -50%);
}
#slider-inner .item{
	width: 100%;
	height: 100%;
}
.item-collection img{
	width:100%;
	height:100%;
}
