/* Abnormal view */
@media screen and (max-width: 1016px) {
	/* Index */
	#slider h1{
		font-size: 26pt;
	}
	#slider h2{
		font-size: 14pt;
	}
	#slider .button-danger-place button{
		font-size: 8pt;
		width: 100px;
		height: 30px;
	}
	.carousel-control{
		width: 9%;
	}
	.carousel-inner{
		height: 100%;
	}
	.what-we-do .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	/* About us */
	.about-us .how-we-work .graph .row:nth-child(even) .picture-area{
		padding-left: 20px;
	}
	.about-us .how-we-work .col-sm-offset-2{
		margin-left: 15%;
	}
	.about-us .how-we-work .graph .row .picture{
		width: 390px;
		height: 311px;
	}

	.caption-place{
		display: block;
		opacity: 1;
		height: 60px;
	}
	.caption-arrow{
		display: block;
	}
	.our-team .container{
		width: 100%;
	}
	@media screen and (min-width: 981px) and (max-width: 999px) {
		.container{
			width: 980px;
		}
		/* About us */
		.our-team .row-centered {
		    margin-right: 0px;
		    margin-left: 0px;
		}
	}
}
/* Large tablet */
@media screen and (width: 980px){
	.container{
		width: 950px;
	}
	.navbar-right{
		margin-right: 5px;
	}
	#navbar.collapse{
		display: block;
		visibility: visible;
	}
	.carousel-control {
	    top: 45%;
	}
    .some-client .col-sm-6{
    	margin-bottom: 10px;
    }
	/* About Us */
	.who-we-are .row .col-md-6{
		width: 50%;
		float: left;
	}
	.about-us .how-we-work .graph .row:nth-child(even) .picture-area{
		padding-left: 80px;
	}
	.about-us .how-we-work .graph .row .picture{
		width: 320px;
		height: 250px;
		top: 30.5%;
	}
	.about-us .how-we-work .graph .row .picture-cover{
		width: 320px;
	}
	.our-team .row-centered {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	/* News */
	.news .col-md-3{
		display: none;
	}
	/* Footer */
	.footer-top-head .col-sm-3,
	.footer-top-content .col-sm-3{
		width: 24%;
	}
	.footer-top h4{
		font-size: 17pt;
		font-weight: 500;
	}
	.footer-bottom-left,
	.footer-bottom-right {
	    height: auto;
	}
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.container, .navbar-header{
		width: 100%;
	}
	.navbar > .container{
		padding: 0px;
	}
	.navbar-toggle{
		display: block;
		float: right;
	}
	.navbar > .container .navbar-brand{
		margin-left: 15px;
	}
	.navbar-nav{
		width: 100%;
		float: left;
		margin-top: 10px;
		padding-left: 0px;
	}
	.navbar-nav > li{
		border-bottom: 1px solid #D5D5D5;
		background: #F9F9F9;
		float: none;
	}
	.navbar-nav > li:hover{
		background: #EDEDED;
	}
	.navbar-nav > li:last-child{
		border-bottom: none;
	}
	.navbar-nav > li > a{
		padding-top: 11px;
		padding-bottom: 11px;
	}
    /* Index */
	.row.slider{
		margin-top: -40px;
	}
	#slider h3{
		margin-top: 0px;
	}
	#slider h2{
		font-size: 14pt;
	}
	#slider .carousel-control{
		top: 44%;
	}
	.index{
		position: relative;
	}
    h3 {
        font-size: 30pt;
    }
    .welcome h3{
    	text-align: left;
    }
	.some-work .row{
        margin-left: 0;
        margin-right: 0;
    }
    .some-client .col-xs-12{
    	margin-bottom: 10px;
    }
	/* About Us*/
	.who-we-are h4{
		margin-top: 30px;
	}
	.who-we-are .col-md-6{
		text-align: center;
	}
	.who-we-are .subtitle-h3{
		margin-bottom: 30px;
	}
	.our-team .col-xs-6{
	}
	.our-team .col-xs-6 p{
		min-height: 70px;
	}
	.our-team .col-centered p{
		height: 150px;
	}
	.about-us .how-we-work .graph .row:nth-child(even) .picture-area{
		padding-right: 0px;
		padding-left: 30px;
	}
	.about-us .how-we-work .graph .row:nth-child(odd) .picture-frame{
		left: -20px;
	}
	.about-us .how-we-work .graph .row .picture{
		width: 320px;
		height: 250px;
		top: 30.5%;
	}
	.about-us .how-we-work .graph .row .picture-cover{
		width: 320px;
	}
	.some-partner .row{
        margin-left: 0px;
        margin-right: 0px;
    }
	.hidden-979{
		display: none;
	}
	/* Works */
	.sub-title nav {
	    height: auto;
	}
	.pager.sub-nav li > a {
		margin: 5px 2px;
	    height: 33px;
	}
	/* Careers */
	#careers #reason{
		width: 100%;
		margin-top: 27px;
	}
	#careers #advantage img {
	    height: 53px;
	}
	/* Footer */
	.footer-top .col-md-3{
		width: 33%;
	}
	.footer-top h4{
		font-size: 17pt;
		font-weight: 500;
	}
	.footer-top .col-md-3{
		padding-left: 12px;
		padding-right: 12px;
	}
	.footer-bottom-left,
	.footer-bottom-right {
	    height: auto;
	}
	@media screen and (max-width: 800px){
		.some-partner img {
		    width: 280px;
		}
	}
}

/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 767px) { 
    .container, .navbar-header{
        width: 100%;
    }
    .navbar > .container{
        padding: 0px;
    }
    .navbar-toggle{
        display: block;
        float: right;
    }
    .navbar > .container .navbar-brand{
        margin-left: 30px;
    }
    .navbar-nav{
        width: 100%;
        float: left;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .navbar-nav > li{
        border-bottom: 1px solid #D5D5D5;
        background: #F9F9F9;
        float: none;
    }
    .navbar-nav > li:hover{
        background: #EDEDED;
    }
    .navbar-nav > li:last-child{
        border-bottom: none;
    }
    .navbar-nav > li > a{
        padding-top: 11px;
        padding-bottom: 11px;
    }
	.title-page{
		height: 70px;
	}
	.title-page h1{
		margin-top: 17px;
	}
	.navbar-toggle{
		float: right;
		margin-right: 0px;
	}
    /* Index */
	.index{
		position: relative;
	}
	.row.slider{
		margin-top: -40px;
	}
	.welcome .col-sm-4{
		display: none;
	}
	.what-we-do{
		background-position: 82% 0%;
	}
	.what-we-do .col-xs-6{
		padding-top: 20px;
	}
	.welcome{
		text-align: center;
	}
	#slider{
		display: none;
	}
	.some-work .col-md-4,
	.item-collection {
	    height: 315px;
	}
	.some-work .row{
        margin-left: 0;
        margin-right: 0;
    }
    .caption-place{
		display: block;
		opacity: 1;
		width: 100%;
		height: 60px;
	}
	.caption-arrow{
		display: block;
	}
    .some-client .col-xs-12{
    	width: 50%;
    	margin-bottom: 10px;
    }
	/* About Us*/
	.who-we-are .col-md-6{
		text-align: center;
	}
	.who-we-are .subtitle-h3{
		margin-bottom: 30px;
	}
	.our-team .col-md-3.col-centered{
		width: 50%;
		height: 250px;
	}
	.our-team .col-centered{
		float: left;
	}
	.our-team .col-xs-6{
		padding-top: 30px;
	}
	.our-team .col-xs-6 p{
		min-height: 70px;
	}
	.how-we-work{
		height: auto;
		max-height: 1500px;
	}
	.how-we-work p.text-center{
		padding-right: 0px;
		padding-left: 0px;
	}
	.about-us .how-we-work .hidden-xs{
		display: none;
	}
	.about-us .how-we-work .graph .row .text-area {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.about-us .how-we-work .row .col-sm-6{
		height: auto;
	    border: none;
	}
	.about-us .how-we-work .graph > .row{
		height: auto;
		opacity: 1;
	}.about-us .how-we-work .row .col-sm-6:nth-child(odd){
		border-right: none;
	}
	.about-us .how-we-work .row .col-sm-6:nth-child(even){
		border-left: none;
	}
	.about-us .how-we-work .text-area-content{
		opacity: 1;
	}
	.about-us #ani-6 .col-sm-6 {
	    height: auto;
	}
	.about-us #ani-6 .content {
	    top: 0px;
	}
    .some-partner .col-xs-12{
    	width: 50%;
    }
	.some-partner img {
	    width: 235px;
	}
    /* Services */
    .services-image {
	    display: none;
	}
    #services .nav > li,
	.products .nav-justified > li{
		width: 100%;
		height: 50px;
		position: relative;
		float: left;
	}
	.products .nav-justified > li > a:hover ~ .arrow,
	.products li.active > a ~ .arrow,
	#services .nav > li > a:hover ~ .arrow,
	#services .nav > li > a:focus ~ .arrow,
	#services li.active > a ~ .arrow {
		display: none;
	}
	#left-menu,
	#services #left-menu,
	#services #center-left-menu{
		position: relative;
		right: 0px;
		left: 0px;
	}
	#services .tab-content {
	    height: auto;
	    margin-bottom: 30px;
	}
	#services .nav-justified{
	    width: 450px;
	    height: 200px;
	}
	#exellent-business{
	    height: 380px;
	}
	#exellent-business .col-xs-6 {
	    height: 380px;
	    padding-top: 65px;
	}
	#services #center{
		margin-top: 30px;
	}
	#exellent-business .left .col-sm-2{
		padding-right: 0px;
	}
	#exellent-business .right .col-sm-11{
		float: right;
	}
	#exellent-business .right .col-sm-2{
		padding-left: 0px;
	}
	#ideas{
		height: 253px;
	}
	/* Products */
	.products .nav-justified{
	    width: 100%;
	}
	.products .image-products{
		width: 262px;
	}
	#avaya .image-products img,
	#pawons .image-products img {
	    width: 285px;
	}
	.products-item-description h2 {
		font-size: 21pt;
	}
	.products-item,
	.products-item-details .row {
	    height: auto;
	    padding-bottom: 50px;
	}
	.products .description h2 {
		margin-top: 0px;
	}
    /* News */
	.news .pager li > a{
		padding: 5px 4px;
		font-size: 0.9em;
	}
	.news .pager .previous > a,
	.news .pager .next > a{
		width: 90px;
	}
	/* Works */
	.pager.sub-nav li > a {
		margin: 5px 2px;
	}
	.sub-title nav {
	    height: auto;
	}
	.pager.sub-nav li > a {
	    height: 33px;
	}
	/* Careers */
	#careers .nav{
		padding-top: 0px;
	}
	#careers .join h2{
		margin-top: 15px;
	}
	#careers #reason{
		width: 100%;
		margin-top: 15px;
	}
	#advantage .col-xs-12{
		width: 50%;
		padding-right: 0px;
	}
	#advantage img {
	    height: 53px;
	}
	.footer-bottom{
		font-size: 1.1em;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	@media screen and (min-width: 580px) and (max-width: 767px) {
		.some-work .col-md-4,
		.item-collection{
		    width: 50%;
		    height: 260px;
		    float: left;
		}
	}
	@media screen and (min-width: 500px){
		.products .nav-justified {
		    width: 480px;
		}
		.products .nav-justified > li {
			width: 160px;
		}
		.products .nav-justified > li > a {
			margin-bottom: 0px;
		}
		.products .nav-justified > li > a:hover ~ .arrow,
		.products li.active > a ~ .arrow{
			display: block;
		}

	}

}
 
@media screen and (max-width: 696px){
	.what-we-do{
		background-image: none;
	}
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {

	@media screen and (width: 480px) {
		/* Work dan Index */
		.some-work .col-md-4,
		.item-collection {
		    height: 315px;
		}
	}
	.container{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.container > .navbar-header{
		margin-right: 0px;
        margin-left: 0px;
	}
	.navbar > .container{
		padding: 0px;
	}
	.navbar-toggle{
		display: block;
		float: right;
	}
	.navbar > .container .navbar-brand{
		margin-left: 10px;
	}
	.navbar-nav{
		width: 100%;
		float: left;
		margin: 10px 0px 0px -5px;
	}
	.navbar-nav > li{
		border-bottom: 1px solid #D5D5D5;
		background: #F9F9F9;
		float: none;
    }
    .navbar-nav > li:last-child{
        border-bottom: none;
    }
	.navbar-nav > li:hover{
		background: #EDEDED;
	}
	.navbar-nav > li > a{
		padding-top: 11px;
		padding-bottom: 11px;
	}
    /* Index */
	.index{
		position: relative;
	}
	.row.slider{
		margin-top: -40px;
	}
	.welcome .col-sm-4{
		display: none;
	}
	.what-we-do .row{
		margin-top: 0px;
	}
	.row{
        margin-left: -10px;
        margin-right: -10px;
    }
	.what-we-do .col-xs-6{
		padding-top: 20px;
	}
	.welcome{
		text-align: left;
	}
	.what-we-do .row .col-xs-6 {
		padding-left: 4px;
		padding-right: 4px;
	}
	.what-we-do .row a > p {
	    font-size: 10pt;
	}
	#slider{
		display: none;
	}
	.some-work .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.some-work p.text-center {
		font-size: 11pt;
		padding: 0px;
	}
	.caption-place{
		height: 60px;
		opacity: 1;
		display: block;
	}
	.caption-arrow{
		display: block;
	}
	.some-client a img:hover{
		border: none;
	}
	/* About Us*/
	.our-team .col-md-3.col-centered{
		width: 50%;
	}
	.our-team .col-centered{
		float: left;
	}
	.our-team .col-xs-6{
		padding-top: 30px;
	}
	.our-team .col-xs-6 p{
		min-height: 70px;
    }
    .our-team .row,
    .products-item-details .row,
    .news .row{
        margin-left: -10px;
        margin-right: -10px;
    }
    .our-team .row .col-xs-6 .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .our-team .primary-detail{
    	height: 225px;
    }
	.about-us .how-we-work #achieve-target{
		height: 100px;
		margin-top: 10px;
		opacity: 1;
	}
	.about-us .how-we-work .graph > .row{
		height: auto;
		opacity: 1;
	}.about-us .how-we-work .row .col-sm-6:nth-child(odd){
		border-right: none;
		padding-right: 0px;
	}
	.about-us .how-we-work .row .col-sm-6:nth-child(even){
		border-left: none;
		padding-left: 0px;
	}
	.about-us .how-we-work .text-area-content{
		opacity: 1;
	}
    .how-we-work p.text-center{
    	padding-right: 0px;
    	padding-left: 0px;
    }
    .some-client .col-xs-12,
    .some-partner .col-xs-12{
    	margin-bottom: 10px;
    }
    .some-partner .right,
    .some-partner .left{
    	float: none;
    }
    .some-partner img {
        width: 80%;
    }
    /* Services */
    .services > .container > .row{
        margin-left: -10px;
        margin-right: -10px;
    }
	.title-page{
		height: 70px;
	}
	.title-page h1{
		margin-top: 17px;
        font-size: 21pt;
	}
	#services .nav-justified{
	    width: 100%;
	    height: 200px;
	}
	#services .tab-content {
	    height: auto;
	    margin-bottom: 30px;
	}
	#services #center{
		margin-top: 30px;
	}
	#services #exellent-business .col-xs-12{
		padding-right: 0px;
		padding-left: 0px;
	}
	#exellent-business{
		height: 365px;
	}
	#exellent-business .col-xs-6 {
	    height: 380px;
    	padding-top: 70px;
	}
	#ideas{
		height: 305px;
	}
	#ideas #order-btn {
	    top: 30px;
	}
    #services .nav > li,
	.products .nav-justified > li{
		width: 100%;
		height: 50px;
		position: relative;
		float: left;
	}
	.products .nav-justified > li > a:hover ~ .arrow,
	.products li.active > a ~ .arrow,
	#services .nav > li > a:hover ~ .arrow,
	#services .nav > li > a:focus ~ .arrow,
	#services li.active > a ~ .arrow {
		display: none;
	}
	#left-menu,
	#services #left-menu,
	#services #center-left-menu{
		position: relative;
		right: 0px;
		left: 0px;
	}
	/* Products */
	.products .nav-justified{
	    width: 100%;
	}
    .products .arrow{
        margin-top: -3px;
    }
	.products-item,
	.products-item-details .row {
	    height: auto;
	    padding-bottom: 50px;
	}
	.products .image-products{
		width: 262px;
	}
	#avaya .image-products img,
	#pawons .image-products img {
	    width: 282px;
	}
	.products-item-description h2 {
		font-size: 15pt;
		margin-top: 15px;
	}
	.products-item-description p{
		font-size: 11pt;
		text-align: left;
		padding: 0px;
	}
	.products .features .nav > li{
		float: left;
	}
	.products .features  li{
		height: 35px;
		padding-left: 27px;
		background-size: 80px;
		background-position: -10px -25px;
	}
	.products .description h2 {
		margin-top: 0px;
	}
	/* Contact us */
	#contact-info .col-sm-6{
		padding: 0px;
	}
	#contact-info {
	    margin-top: 0px;
	}
	#contact-us h3{
		margin-top: 7px;
		margin-bottom: 6px;
	}
	#contact-us h2 {
		margin-bottom: 12px;
		font-size: 17pt;
	}
	#contact-content .col-xs-12 {
	    min-height: 375px;
	}
	#contact-info .col-xs-1{
		padding-left: 0px;
	}
	#sos-med .row{
		padding-left: 11px;
	}
	#sos-med .col-xs-1{
		margin-right: 6px;
	}
	/* Works */
	.row.sub-title{
		padding-top: 20px;
	}
	.sub-title nav {
	    height: auto;
	}
	.pager.sub-nav li > a {
		margin: 5px 2px;
	    height: 33px;
	}
	.sub-title h3 {
	    font-size: 22pt;
	}
	/* Careers */
	#careers .nav{
		padding-top: 0px;
	}
	#careers .join h2{
		margin-top: 15px;
	}
	#careers #reason{
		width: 100%;
		margin-top: 15px;
	}
	#careers #reason .image-wrap {
	    display: none;
	}
	#advantage img {
	    height: 80px;
	}
	#advantage .row{
		margin-bottom: 0px;
	}
	#advantage .col-xs-12{
		margin-bottom: 15px;
	}
	#advantage .col-xs-4{
		padding-left: 0px;
	}
	/* News */
	.pagination{
		top: 0;
		margin-bottom: 0px;
	}
	#pagination li:first-child > a,
	#pagination li.disabled:first-child > span,
	#pagination li:last-child > a,
	#pagination li.disabled:last-child > span{
		width: 90px;
		margin-right: 0px;
		line-height: 19px;
	}
	.footer-bottom{
		text-align: center;
		font-size: 1.1em;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.footer-bottom-right{
		display: none;
	}
	@media screen and (max-width: 320px) {
	    /* Services */
		#services #center{
			margin-top: 20px;
		}
	    /* Products */
	    #exellent-business .col-xs-12 {
		    padding-left: 5px;
		    padding-right: 5px;
		}
		#exellent-business,
		#exellent-business .col-xs-6{
			height: 380px;
		}
		#ideas{
			margin-bottom: 50px;
		}
		/* Works */
		.pager li {
		    width: 100%;
		}
		/* About us */
		.some-partner img{
			width: 100%;
		}
	}
}



























































































































/* Large tablet */
/*@media screen and (width: 980px){
	.container{
		width: 100%;
}*/
 
/* Portrait tablet to landscape and desktop */
/*@media screen and (min-width: 768px) and (max-width: 979px) { 
	.container{
		width: 100%;
	}
	
}*/

/* Landscape phone to portrait tablet */
/*@media screen and (min-width: 481px) and (max-width: 767px) { 
	.container{
		width: 100%;
	}
	
}*/	
 
/* Landscape phones and down */
/*@media screen and (max-width: 480px) {
	.container{
		width: 100%;
	}
	
}*/